#body {
    background-color: black;
    color: white;
    font-family: Courier, 'Courier New', monospace;
}

#forecast_container {
    display: flex;
    flex-wrap: wrap;
}

.weather_icon {
    width: 120px;
}

.sunny {
    color: yellow;
    
}

.weather_card {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    width: 260px;
}