#body {
    background-color: black;
    color: white;
    font-family: Courier, 'Courier New', monospace;
}

#forecast_container {
    display: flex;
    flex-wrap: wrap;
}

.weather_icon {
    width: 120px;
}

.weather_card {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 260px;
    border: thin solid white;
}

.indigo {color: indigo;}
.darkviolet {color: darkviolet;}
.navy {color: navy;}
.blue {color: blue;}
.cornflowerblue {color: cornflowerblue;}
.lightblue {color: lightblue;}
.aqua {color: aqua;}
.green {color: green;}
.lime {color: lime;}
.yellow {color: yellow;}
.orange {color: orange;}
.red {color: red;}
.darkred {color: darkred;}

